<div class="container">

  <div class="d-flex justify-content-start">
    <h1>View Conference Room</h1>
  </div>
  <div class="d-flex justify-content-end">
    <a routerLink="/conference-room" class="btn btn-primary">Back</a>
  </div>

  <div>
    <strong>ID:</strong>
    <p>{{ conferenceRoom.id }}</p>
  </div>

  <div>
    <strong>Name:</strong>
    <p>{{ conferenceRoom.name }}</p>
  </div>

  <div>
    <strong>Identifier:</strong>
    <p>{{ conferenceRoom.identifier }}</p>
  </div>

  <div>
    <strong>Level:</strong>
    <p>{{ conferenceRoom.level }}</p>
  </div>

  <div>
    <strong>Availability:</strong>
    <p>{{ conferenceRoom.availability }}</p>
  </div>

  <div>
    <strong>Number Of Standing Places:</strong>
    <p>{{ conferenceRoom.numberOfStandingPlaces }}</p>
  </div>

  <div>
    <strong>Number Of Sitting Places:</strong>
    <p>{{ conferenceRoom.numberOfSittingPlaces }}</p>
  </div>

  <div>
    <strong>Reservation List:</strong>
    <p>{{ conferenceRoom.reservationList }}</p>
  </div>

  <div>
    <strong>Organisation:</strong>
    <p>{{ conferenceRoom.organisation }}</p>
  </div>

</div>