<div class="container" id="main-container">

  <div class="d-flex justify-content-start">
    <h1>RESERVATIONS</h1>
  </div>
  <div class="d-flex justify-content-end">
    <a routerLink="/add-reservation" class="btn btn-success">Create New Reservation</a>
  </div>

  <table class="table table-bordered">
    <tr>
      <th><span>Reservation Name/ID</span></th>
      <th><span>Conference Room Name</span></th>
      <th><span>Start Time</span></th>
      <th><span>End Time</span></th>
      <th><span></span></th>
    </tr>
    <tr *ngFor="let reservation of reservations">
      <td>
        <h5>{{reservation?.id}}</h5>
      </td>
      <td>
        <h5>{{reservation?.conferenceRoom}}</h5>
      </td>
      <td>
        <h5>{{reservation?.startDateTime}}</h5>
      </td>
      <td>
        <h5>{{reservation?.endDateTime}}</h5>
      </td>
      <td style="width: 20%;">
        <a href="#" class="table-link  text-warning">
          <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <button (click)="updateReservation(reservation.id)" class="table-link  text-info">
          <!--                      (click) = "updateReservation(reservation.id)"-->
          <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
          </span>
        </button>
        <button (click)="deleteReservation(reservation.id)" class="table-link danger">
          <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
          </span>
        </button>
      </td>
    </tr>
  </table>
</div>