<div class="container">

  <div class="d-flex justify-content-start">
    <h1>Update Organisation</h1>
  </div>
  <div class="d-flex justify-content-end">
    <a routerLink="/organisations" class="btn btn-primary">Back</a>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group">
      <label>Organisation name</label>
      <input
      formControlName="name"
      type="text"
      id = "name"
      class ="form-control">
      <label>Organisation description</label>
      <input
      formControlName="description"
      type="text"
      id = "description"
      class ="form-control">
    </div>

    <button class="btn btn-primary my-2" type="submit" >Submit</button>
    <!-- [disabled]="!form.valid" -->
  </form>
</div>
