<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a routerLink='/' class="navbar-brand ms-2" style="color:white;">Reservation App</a>
    <a routerLink='/organisation' class="navbar-brand" style="color:white;">Organisations</a>
    <a routerLink='/conference-room' class="navbar-brand" style="color:white;">Conference Room</a>
    <a routerLink='/reservation' class="navbar-brand" style="color:white;">Reservations</a>

    <!-- <a routerLink='/organisation/create' class="navbar-brand" style="color:white;">Add Organisation</a>
    <a routerLink='/conference-room/create' class="navbar-brand" style="color:white;">Add Conference Room</a>
    <a routerLink='/reservation/create' class="navbar-brand" style="color:white;">Add Reservation</a> -->
   
  </nav>

<router-outlet></router-outlet>

<footer class ="footer mt-auto">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-center">
        <span>Created by: Kasia, Julek and Gracjan</span>
    </div>
</footer>
