<div class="col-md-6 offset-md-3">
  <h3> Update Reservation </h3>
  <form (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label>Conference room name</label>
      <input type="text" class ="form-control" id = "conferenceRoom"
             ngModel name = "conferenceRoom" name = "conferenceRoom">
    </div>

    <div class="form-group">
      <label>Date and time START of reservation</label>
      <input type="text" class ="form-control" id = "startDateTime"
             ngModel name = "startDateTime" name = "startDateTime">
    </div>

    <div class="form-group">
      <label>Date and time END of reservation</label>
      <input type="text" class ="form-control" ngModel name= "endDateTime"
             id = "endDateTime" name = "endDateTime">
    </div>

    <button class = "btn btn-success" type ="submit">Submit</button>

  </form>
</div>
