<div class="container" id="main-container">

  <div class="d-flex justify-content-start">
    <h1>ORGANISATIONS</h1>
  </div>
  <div class="d-flex justify-content-end">
    <a routerLink="/organisation/create" class="btn btn-success">Create New Organisation</a>
  </div>

  <table class="table table-bordered">
    <tr>
      <th>Organisation name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let organisation of organisations">
      <td>
        <h5>{{organisation?.name}}</h5>
      </td>
      <td>
        <h5>{{organisation?.description}}</h5>
      </td>
      <td>
        <a href="#" [routerLink]="['/organisation/', organisation.id, '/view']" class="btn btn-info">View</a>
        <a href="#" [routerLink]="['/organisation/', organisation.id, 'edit']" class="btn btn-primary">Edit</a>
        <button type="button" (click)="deleteOrganisation(organisation.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>
</div>