<div class="col-md-6 offset-md-3">

  <h1> Create New Organisation </h1>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group">
      <label>Organisation name</label>
      <input placeholder="Organisation name"
      formControlName="name"
      type="text"
      id = "name"
      class ="form-control"
      name = "name">
      <label>Organisation description</label>
      <input placeholder="Organisation description"
      formControlName="description"
      type="text"
      id = "description"
      class ="form-control"
      name = "description">
    </div>

    <a routerLink="/organisations" class="btn btn-primary my-2">Back</a>
    <button class="btn btn-primary mx-2 my-2" type="submit" >Submit</button>
    <!-- [disabled]="!form.valid" -->
  </form>
</div>
