<h3>Create Organisation</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="organisationsaveform" #saveorganisation (ngSubmit)="saveOrganisation(saveOrganisation)">
        <div class="form-group">
          <label for="name">Organisation Name</label>
          <input type="text" class="form-control"  formControlName="name" data-toggle="tooltip"
                 data-placement="right" title="Enter Organisation Name" >
          <div class="alert alert-danger" *ngIf = "(OrganisationName.touched) && (OrganisationName.invalid)"
               style="margin-top: 5px;">
            <span *ngIf="OrganisationName.errors.required">Organisation name is required</span>
            <span *ngIf = "OrganisationName.errors.minlength">
                            MinLength Error
                        </span>
            <span *ngIf = "OrganisationName.errors.maxlength">
                            MaxLength Error
                        </span>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Organisation Description</label>
          <input type="text" class="form-control" formControlName="description"
                 data-toggle="tooltip" data-placement="right" title="Enter Organisation description">
          <div class="alert alert-danger" *ngIf = "(OrganisationDescription.touched) && (OrganisationDescription.invalid)"
               style="margin-top: 5px;">
            <span *ngIf="OrganisationDescription.errors.required">Student Email is Required</span>
          </div>
        </div>


        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div [hidden]="!submitted">
      <h4>Organisation Added SuccessFully!</h4>
      <button (click)="addOrganisationForm()" class='btn btn-primary'>Add More Organisation</button>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
