<!-- <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
  <div class="container" id="main-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box no-header clearfix">
          <div class="main-box-body clearfix">
            <h4><a routerLink="add-organisation" routerLinkActive="active">Add Organisation</a></h4>
            <router-outlet></router-outlet>
            <div class="table-responsive">
              <table class="table user-list">
                <caption><h2>List of organisations:</h2></caption>
                <thead>
                <tr>
                  <th><span>Organisation name</span></th>
                  <th><span>description</span></th>
                  <th><span></span></th>
                </tr>
                </thead>

                <tbody *ngFor="let organisation of organisations">

                <tr>
                  <td>
                    <h5>{{organisation?.name}}</h5>
                  </td>
                  <td>
                    <h5>{{organisation?.description}}</h5>
                  </td>
                  <td style="width: 20%;">
                    <a href="#" class="table-link  text-warning">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                    <a (click)="updateOrganisation(organisation)" href="#" class="table-link  text-info">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                    <a (click)="deleteOrganisation(organisation)" href="#" class="table-link danger">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="col-md-6 offset-md-3">
  <h3> Create new organisation </h3>
  <form #addForm="ngForm" id="add-organisation-form" (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label>Organisation name</label>
      <input type="text" class ="form-control" id = "name"
             ngModel name = "name" name = "name">
    </div>
    <div class="form-group">
      <label>Organisation description</label>
      <input type="text" class ="form-control" id = "description"
             ngModel name = "description" name = "description">
    </div>

    <a routerLink="/ogranisation" class="btn btn-primary">Back</a>
    <button class = "btn btn-success" (click)="addOrganisation(addForm)"
            type ="submit">Submit</button>
  </form>
</div>

